@{
    ViewData["Title"] = "Home Page";
    var teamId = (string)ViewData["teamId"]!;
    var toDate = (DateTime)ViewData["toDate"]!;
    var fromDate = (DateTime)ViewData["fromDate"]!;
    var teams = (List<Run4Prize.Models.DBContexts.AppContext.Team>)ViewData["data"]!;
    ViewData["dats"] = toDate.ToString("yyyy-MM-dd");
}

<div class="accordion" id="accordionPanelsStayOpenExample">
    @foreach (var team in teams)
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id="@Html.Raw("heading" + team.Id)">
                <button class="fw-bold accordion-button @Html.Raw(team.Uid != teamId ? "collapsed" : "")" type="button" data-bs-toggle="collapse" data-bs-target="@Html.Raw("#collapse" + team.Id)" aria-expanded="@Html.Raw(team.Uid == teamId ? "true" : "false")" aria-controls="@Html.Raw("collapse" + team.Id)">
                    @Html.Raw(team.Rank + " - " + team.Name + " - " + team.TotalDistance.ToString("N2"))
                </button>
            </h2>
            <div id="@Html.Raw("collapse" + team.Id)" class="accordion-collapse collapse @Html.Raw(team.Uid == teamId ? "show" : "")">
                <div class="accordion-body">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Total</th>
                                    @{
                                        var formDateTmp = fromDate.AddSeconds(0);
                                        while (true)
                                        {
                                            if (formDateTmp < toDate)
                                            {
                                                break;
                                            }
                                            <th scope="col">@formDateTmp.ToString("dd/MM")</th>
                                            formDateTmp = formDateTmp.AddDays(-1);
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var sTT = 1;
                                    foreach (var member in team.Members!)
                                    {
                                        <tr>
                                            <th scope="row">
                                                @sTT
                                            </th>
                                            <td class="text-nowrap fw-bold">
                                                @member.Name
                                            </td>
                                            <td>
                                                @member.Distances!.Sum(it => it.TotalDistance).ToString("N2")
                                            </td>
                                            @{
                                                var fromDateTmpTwo = fromDate.AddSeconds(0);
                                                while (true)
                                                {
                                                    if (fromDateTmpTwo < toDate)
                                                    {
                                                        break;
                                                    }
                                                    var distances = member.Distances!.Where(it => it.CreateDate == fromDateTmpTwo).FirstOrDefault();
                                                    if (distances != null)
                                                    {
                                                        <td>
                                                            @distances.TotalDistance.ToString("N2")
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            0
                                                        </td>
                                                    }
                                                    fromDateTmpTwo = fromDateTmpTwo.AddDays(-1);
                                                }
                                            }
                                        </tr>
                                        sTT++;
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2" class="text-center fw-bold">Total</td>
                                    <td>
                                        @team.Members!.Sum(it => it.Distances!.Sum(it => it.TotalDistance)).ToString("N2")
                                    </td>
                                    @{
                                        var fromDateTmpThree = fromDate.AddSeconds(0);
                                        while (true)
                                        {
                                            if (fromDateTmpThree < toDate)
                                            {
                                                break;
                                            }
                                            var distances = team.Members!.Sum(it => it.Distances!.Where(it => it.CreateDate == fromDateTmpThree).Sum(it => it.TotalDistance));
                                            <td>
                                                @distances.ToString("N2")
                                            </td>
                                            fromDateTmpThree = fromDateTmpThree.AddDays(-1);
                                        }
                                    }
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

        });
    </script>
}
