@{
    ViewData["Title"] = "Home Page";
    var teamId = (string)ViewData["teamId"]!;
    var toDate = (DateTime)ViewData["toDate"]!;
    var fromDate = (DateTime)ViewData["fromDate"]!;
    var teams = (List<Run4Prize.Models.DBContexts.AppContext.Team>)ViewData["data"]!;
    var lastUpdate = (string?)ViewData["lastUpdate"];
}

<div class="d-grid gap-2 mb-2">
    <a class="btn btn-primary" type="button" asp-area="" asp-controller="Home" asp-action="Trigger">@Html.Raw(string.IsNullOrEmpty(lastUpdate) ? "SyncData" : "Sync Data (Last Update: " + lastUpdate + ")")</a>
    <form method="get" asp-controller="Home" asp-action="Index" class="d-flex">
        <input name="dats" class="form-control me-2" type="date" aria-label="" value="@toDate.ToString("yyyy-MM-dd")">
        <button class="btn btn-outline-success" type="submit">Submit</button>
    </form>
</div>

<div class="accordion" id="accordionPanelsStayOpenExample">
    @foreach (var team in teams)
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id="@Html.Raw("heading" + team.Id)">
                <button class="fw-bold accordion-button @Html.Raw(team.Uid != teamId ? "collapsed" : "")" type="button" data-bs-toggle="collapse" data-bs-target="@Html.Raw("#collapse" + team.Id)" aria-expanded="@Html.Raw(team.Uid == teamId ? "true" : "false")" aria-controls="@Html.Raw("collapse" + team.Id)">
                    @Html.Raw(team.Rank + " - " + team.Name + " - " + team.TotalDistance.ToString("N2"))
                </button>
            </h2>
            <div id="@Html.Raw("collapse" + team.Id)" class="accordion-collapse collapse @Html.Raw(team.Uid == teamId ? "show" : "")">
                <div class="accordion-body">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Total</th>
                                    @{
                                        var formDateTmp = fromDate.AddSeconds(0);
                                        while (true)
                                        {
                                            if (formDateTmp < toDate)
                                            {
                                                break;
                                            }
                                            <th scope="col">@formDateTmp.ToString("dd/MM")</th>
                                            formDateTmp = formDateTmp.AddDays(-1);
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var sTT = 1;
                                    foreach (var member in team.Members!)
                                    {
                                        <tr>
                                            <th scope="row">
                                                @sTT
                                            </th>
                                            <td class="text-nowrap">
                                                @member.Name
                                            </td>
                                            <td>
                                                @member.Distances!.Sum(it => it.TotalDistance).ToString("N2")
                                            </td>
                                            @{
                                                var fromDateTmpTwo = fromDate.AddSeconds(0);
                                                while (true)
                                                {
                                                    if (fromDateTmpTwo < toDate)
                                                    {
                                                        break;
                                                    }
                                                    var distances = member.Distances!.Where(it => it.CreateDate == fromDateTmpTwo).FirstOrDefault();
                                                    if (distances != null)
                                                    {
                                                        <td>
                                                            <a href="javascript:void(0)" name="viewActivity" data-id="@member.Id" data-name="@member.Name" data-dats="@fromDateTmpTwo.ToString("yyyy-MM-dd")" data-dats-dis="@fromDateTmpTwo.ToString("dd/MM/yyyy")"> @distances.TotalDistance.ToString("N2")</a>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            0
                                                        </td>
                                                    }
                                                    fromDateTmpTwo = fromDateTmpTwo.AddDays(-1);
                                                }
                                            }
                                        </tr>
                                        sTT++;
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2" class="text-center fw-bold">Total</td>
                                    <td>
                                        @team.Members!.Sum(it => it.Distances!.Sum(it => it.TotalDistance)).ToString("N2")
                                    </td>
                                    @{
                                        var fromDateTmpThree = fromDate.AddSeconds(0);
                                        while (true)
                                        {
                                            if (fromDateTmpThree < toDate)
                                            {
                                                break;
                                            }
                                            var distances = team.Members!.Sum(it => it.Distances!.Where(it => it.CreateDate == fromDateTmpThree).Sum(it => it.TotalDistance));
                                            <td>
                                                @distances.ToString("N2")
                                            </td>
                                            fromDateTmpThree = fromDateTmpThree.AddDays(-1);
                                        }
                                    }
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="accordion" id="accordionExample">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            function uuidv4() {
                return "10000000-1000-4000-8000-100000000000".replace(/[018]/g, c =>
                    (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
                );
            }


            $('a[name="viewActivity"]').on("click", function() {
                const memberName = $(this).attr('data-name');
                const memberId = $(this).attr('data-id');
                const dats = $(this).attr('data-dats');
                const dat_display = $(this).attr('data-dats-dis');
                const url = `/Home/GetActivities?memberId=${memberId}&dats=${dats}`;
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (data) {
                        const jData = JSON.parse(data);
                        $('#accordionExample').html('');
                        for(let i = 0; i < jData.length; i++) {
                            const guid = uuidv4().split("-")[0];
                            $('#accordionExample')
                                .append(`<div class="accordion-item"> <h2 class="accordion-header" id="heading${guid}"> <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse${guid}" aria-expanded="false" aria-controls="collapse${guid}"> ${jData[i].CreateDate} | ${jData[i].Type} | ${jData[i].Distance} (Km) | ${jData[i].MovingTime} (Phút) </button> </h2> <div id="collapse${guid}" class="accordion-collapse collapse" aria-labelledby="heading${guid}" data-bs-parent="#accordionExample"> <div class="accordion-body"> <iframe src="${jData[i].MapUrl}" title="${jData[i].MapUrl}" style="width: 100%; height: 300px"> </iframe> </div> </div> </div>`)
                        }
                        $('#exampleModalLabel').text(`${memberName} (${dat_display})`)
                        $('#exampleModal').modal('show');
                    },
                    error: function (error) {
                        alert(error.statusText);
                    }
                });
            });
        });
    </script>
}
